
.cta-section .card {
    border-radius: 15px;
}

.cta-section .form-control {
    border: none;
    border-radius: 10px;
    background-color: #f8f9fa;
}

.form-group{
    padding-bottom: 2rem;
}

h2{
    color: white;
}

.pistekortit{
    margin-bottom: 2rem;
}

.heittohistoria p{
    border-style: solid;
    border-radius: 15%;
}

.piste-form{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pokaali{
    max-width: 300px;
      animation: pulseAnim 1s infinite;
}

@keyframes pulseAnim {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.1); }
  100% { transform: scale(1); }
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


/* Footer */
.footer {
    background-color: #198754; /* bg-success */
    color: white;
    padding: 1rem 0;
}

